name: Cargo test
on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Cargo Test
    runs-on: self-hosted

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y && \
          sudo apt-get install -y --no-install-recommends \
            cmake \
            g++ \
            libsasl2-dev \
            libssl-dev \
            libudev-dev \
            pkg-config \
            protobuf-compiler 

      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: 1.69.0
            override: true
            components: cargo, rustc

      - uses: tespkg/actions-cache@v1
        with:
          accessKey: ${{ secrets.AWS_CACHE_ACCESS_KEY_ID }}
          secretKey: ${{ secrets.AWS_CACHE_SECRET_ACCESS_KEY }}
          bucket: ${{ vars.AWS_CACHE_BUCKET }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
