name: Keto relations test
on:
  push:
    branches:
      - 'mpw/add-tests'
#on: [push, pull_request]

jobs:
  test:
    name: Keto relations test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Create docker network  
        run: docker network create keto

      - name: Setup docker
        env:
          image_tag: v0.11.0-alpha.0
          ns_file: namespaces.keto.ts
        run: |
          #More setup
          shopt -s expand_aliases
          init_path=$(pwd)
          # Init container, run migrations and wait for the tests to run
          nohup docker run --network keto --name keto \
          -v $init_path/$ns_file:/app/namespaces \
          -v $init_path/test/config.yaml:/etc/keto.yaml \
          -d oryd/keto:$image_tag  \
          -p 4466:4466 -p 4467:4467 \
          oryd/keto keto --config /etc/keto.yaml migrate up --yes \
          && sleep 180 > nohup.out 2> nohup.err < /dev/null &

          # alias for shorter docker commands
          alias keto='docker exec keto keto --config /etc/keto.yaml'

          # Validate namespace
          keto namespace validate
          # Start Server
          keto serve

      - name: Run relations test
        run: |
          python3 test/run.py
      
