name: Keto relations test
on:
  push:
    branches:
      - 'mpw/add-tests'
#on: [push, pull_request]

jobs:
  test:
    name: Keto relations test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Create docker network  
        run: docker network create keto

      - name: Setup docker
        env:
          image_tag: v0.11.0-alpha.0
          ns_file: namespaces.keto.ts
        run: |
          #More setup
          shopt -s expand_aliases
          init_path=$(pwd)

          # Init container
          nohup docker run --network keto --name keto \
          --entrypoint '/bin/sleep' \
          -v $init_path/$ns_file:/app/namespaces/$ns_file \
          -v $init_path/test/config.yaml:/etc/keto.yaml \
          -p 4466:4466 -p 4467:4467 \
          -d oryd/keto:$image_tag \
          300 > nohup.out 2> nohup.err < /dev/null &
          
          # wait for the container to be up
          while [[ -z $(docker ps | grep keto) ]];do
            echo waiting for container to go up
            docker ps -a
            sleep 5
          done

          # alias for shorter docker commands
          alias keto='docker exec keto keto --config /etc/keto.yaml'

          # Run migrations
          keto migrate up --yes
          # Validate namespace
          keto namespace validate
          # Start Server
          keto serve

      - name: Run relations test
        run: |
          python3 test/run.py
      
