name: Keto relations test
on:
  push:
    branches:
      - 'mpw/add-tests'
#on: [push, pull_request]

jobs:
  test:
    name: Keto relations test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Create docker network  
        run: docker network create keto

      - name: Setup docker
        env:
          image_tag: v0.11.0-alpha.0
          ns_file: namespaces.keto.ts
        run: |
          # Run migrations
          docker run --network keto --name keto \
          -v ${{ github.workspace }}/$ns_file:/app/namespaces \
          -v ${{ github.workspace }}/test/config.yaml:/etc/keto.yaml \
          -d oryd/keto:$image_tag  \
          oryd/keto --config /etc/keto.yaml \
          migrate up --yes

          # Validate namespace
          docker run --network keto --name keto\
          -v ${{ github.workspace }}/$ns_file:/app/namespaces \
          -v ${{ github.workspace }}/test/config.yaml:/etc/keto.yaml \
          -d oryd/keto:$image_tag  \
          oryd/keto --config /etc/keto.yaml \
          namespace validate

          # Start Server
          docker run --network keto --name keto\
          -v ${{ github.workspace }}/$ns_file:/app/namespaces \
          -v ${{ github.workspace }}/test/config.yaml:/etc/keto.yaml \
          -d oryd/keto:$image_tag  \
          oryd/keto --config /etc/keto.yaml \
          serve

      - name: Run relations test
        run: |
          python3 ${{ github.workspace }}/test/run.py
      
